<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8.Vue监测数据改变原理_数组</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备一个容器 -->
    <div id="app">

        <h2>学校名称:{{schoolName}}</h2>
        <h2>学校地址:{{schoolAddress}}</h2>
        <hr/>
        <h2>姓名:{{students.stuName}}</h2>
        <h2 v-if="students.sex">性别:{{students.sex}}</h2>
        <h2>真实年龄:{{students.age.rAge}},真实年龄{{students.age.zAge}}</h2>
        <button @click="addSex">添加一个性别属性</button>
        <hr/>
        <h2>爱好</h2>
        <ul>
            <li v-for="(stu, index) in students.hobby" :key="index">
                {{stu}}
            </li>
        </ul>
        
    </div>
</div>
    <script type="text/javascript">

        // 阻止vue在启动时生成生产提示
        Vue.config.productionTip = false;
        const vm = new Vue({
            el: "#app",
            data() {
                return {
                    schoolName: "尚硅谷",
                    schoolAddress: "陕西西安",
                    students: {
                        stuName: "刘强",
                        age: {
                            rAge: 40,
                            zAge: 29
                        },
                        hobby: ["抽烟","喝酒","泡妞"]
                        
                    }         
                }
            },
            methods: {
                addSex(){
                    Vue.set(this.students,"sex","男");
                },
                
            },
            
           

        });
    </script>

</body>

</html>