<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8.Vue监测数据改变原理_数组</title>
    <script src="../js/vue.js"></script>
</head>
<body>

    <!--  
        Vue监视数据的原理:
              1.vue会监测data中所有层次的数据。
              2.如何监测对象中的数据?
                  通过setter实现监视,且要在new Vue时就传入要监测的数据
                  (1).对象中后追加的属性,Vue默认不做响应式处理
                  (2).如需给后添加的属性做响应式,请使用如下API：
                        Vue.set(target,properName/index,value) 或者 vm.$set(target,properName/index,value)
            
              3.如何监测数组中的数据?
                 通过包裹数组更新元素的方法实现,本质就是做了两件事:
                  (1).调用原生对应的方法对数组进行更新
                  (2).重新解析模板,进而更新页面

              4.在Vue修改数组中的某一个元素一定要用如下方法:
                  1.使用这些API：push() pop()  shift()  unshift() splice()  sort()  reverse()
                  2.Vue.set() 或者  vm.$set()


             特别注意: Vue.set() 和 vm.$set() 不能给vm或者vm的根数据对象 添加属性！！！！
     -->
    <!-- 准备一个容器 -->
    <div id="app">
        <hr/>
        <h2>姓名:{{students.stuName}}</h2>
        <h2 v-if="students.sex">性别:{{students.sex}}</h2>
        <h2>真实年龄:{{students.age.rAge}},真实年龄:{{students.age.zAge}}</h2>
        <button @click="addSex">添加一个性别属性</button>
        <hr/>
        <h2>爱好</h2>
        <ul>
            <li v-for="(stu, index) in students.hobby" :key="index">
                {{stu}}
            </li>
        </ul>
        
    </div>
</div>
    <script type="text/javascript">

        // 阻止vue在启动时生成生产提示
        Vue.config.productionTip = false;
        const vm = new Vue({
            el: "#app",
            data() {
                return {
                    students: {
                        stuName: "刘强",
                        age: {
                            rAge: 40,
                            zAge: 29
                        },
                        hobby: ["抽烟","喝酒","泡妞"]  
                    }         
                }
            },
            methods: {
                addSex(){
                    //
                    Vue.set(this.students,"sex","男");
                },
                
            },
        });
    </script>

</body>

</html>