<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1.收集表单数据</title>
    <script src='../js/vue.js'></script>
</head>
<body>
    <!-- 
        收集数据:
             若: <input type="text"/>  则v-model收集的是value值,用户输入的就是value值
             若: <input type="radio"/> 则v-model猴急的是value值,且要给标签配置value属性值
             若: <inout type="checkbox"/>
                  1.没有配置input的value值,那么收集的就是checkboxd(勾选 or 未勾选 是布尔值)
                  2.配置input的value值:
                           (1).v-model的初始值时非数组，那么收集的就是checkboxd(勾选 or 未勾选 是布尔值)
                           (2).v-model的初始值是数组,那么收集的就是value组成的数组
            备注:  v-model的三个修饰符:
                   lazy: 失去焦点再收集数据
                   number: 输入字符串转为有效的数字
                   trim: 输入收尾空格过滤
                  
     -->
    <!-- 准备好一个容器 -->
    <div id="app">
        <form  @submit.prevent="demo">
            <label for="demo">
                账号: <input type="text" v-model.trim="userInfo.account"><br/>
                密码: <input type="password" v-model="userInfo.password"><br/>
                年龄: <input type="number" v-model.number="userInfo.age"><br/>
                性别: 
                    男<input type="radio" name="sex" v-model="userInfo.sex" value="male">
                    女<input type="radio" name="sex" v-model="userInfo.sex" value="female"><br/>
                爱好: 
                    学习: <input type="checkbox" v-model="userInfo.hobby"   value="stduy">
                    抽烟: <input type="checkbox" v-model="userInfo.hobby"   value="snake">
                    打游戏: <input type="checkbox" v-model="userInfo.hobby"  value="game" >
                    睡觉: <input type="checkbox" v-model="userInfo.hobby"  value="sleep" >
                    <br/>
                所在校区:
                   <select v-model="userInfo.ctiy">
                       <option value="">----请选择校区----</option>
                       <option value="beijing">北京</option>
                       <option value="sahnhai">上海</option>
                       <option value="xian">西安</option>
                       <option value="guangzhou">广州</option>
                       <option value="nanjing">南京</option>
                       <option value="chengdu">成都</option>
                       <option value="wuhan">武汉</option>userInfo.
                   </select>
                   <br/>
                其他信息:
                    <textarea v-model.lazy="userInfo.text" ></textarea><br/><br/>
                <input type="checkbox" v-model="userInfo.agree">阅读并接受<a href="http://www.atguigu.com">用户协议</a><br/><br/></input>
                <button>提交</button>
            </label>
        </form>
    </div>
    <script type='text/javascript'>
        //解决生产环境下的警告提示
       Vue.config.productionTip = false;
       const vm = new Vue({
           el: "#app",
           data() {
               return {
                   userInfo: {
                        account: "",
                        password: "",
                        age:"",
                        sex: "female",
                        hobby: [],
                        ctiy: "",
                        other: "",
                        text:"",
                        agree:"",
                   }    
               }
           },
           methods: {
               demo(){
                   alert(JSON.stringify(this.userInfo));
                 
               }
           },
       })
    </script>
    
</body>
</html>