<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4.watch和computed的比较</title>
    <script src="../js/vue.js"></script>
    <style>
        #massage{
            color: green;
        }
    </style>
</head>
<body>
    <!-- 

        computed和watch之间的区别:
               1.computed能完成的功能,watch都能完成
               2.watch能完成的功能,computed不一定能完成,例如: watch可以进行异步操作

        两个重要的小原则:
               1.所有被Vue管理的函数,最好写成普通函数,这样this的指向才是vm或者组件实例对象
               2.所有不被Vue所管理的函数(定时器的回调函数,ajax的回调函数,Promise的回调函数) 最好写成箭头函数，这样this的指向才是vm或者组件实例对象
     -->
    <div id="app">
        姓: <input type="text" v-model="firstName"><br/>
        名: <input type="text" v-model="lastName"><br/>
        全名: <span>{{fullName}}</span>
    </div>
    <script type="text/javascript">
        const vm  = new Vue({
            el: "#app",
            data() {
                return {
                    firstName: "张",
                    lastName: "三",
                    fullName: "张-三"
                }
            },
            //函数的回调
            methods: {
                
            },
            //计算属性
            computed:{
                fullName(){
                    return this.firstName +"-"+ this.lastName;
                }

            },
            //监听属性
            watch: {
                //简写形式
                firstName(newValue){
                    this.fullName = newValue +"-"+ this.lastName;

                },
                lastName(newValue){
                    this.fullName = this.firstName +"-"+ newValue;

                },

            },

        });
    </script>
    
</body>
</html>